---
layout: default
title: home
---
<br/>
I am Ruby on rails developer, collaborator(ringer) of bird ringing center In Serbia and coordinator for colour ringing gulls in Serbia.<br/>
<br/>

<h2>Thunder is deprecated in favor of <a href="https://github.com/phoenixframework/phoenix">Phoenix</a>.

<br/>
<h1>Blog</h1>
<div class="lead">I will try to cover each part of framework development here and hopefully create interesting development story.</div>
<ul class = "posts">
{% for post in site.posts %}
    {% if post.published %}
    <li class="index">
      <div class="index-date">{{ post.date | date: "%Y.%m.%d" }}</div><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
{% endfor %}
</ul>
